{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <h3>My lists</h3>
        <div id="container">
            <ul>
                {% for list in lists %}
                    <li>{{ list.name }}
                        <button>
                            <a href="{{ path('to_do_list_update', {'id': list.id}) }}">Update list name</a>
                        </button>
                    </li>
                {% else %}
                    You dont have any lists yet.
                {% endfor %}
            </ul>
        </div>

        <div id="container">
            <button><a href="{{ path('to_do_list_add') }}">Add new list</a></button>
        </div>
    </div>
{% endblock %}

